.box-offer {
  box-shadow: 0px 4px 10px 0 #00000024;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  .header-box {
    position: relative;
    padding: 1rem;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    height: 150px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    .bg-img {
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
    .add-favorite {
      background-color: $pink-color;
      color: white;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      font-size: 20px;
      -o-border-radius: 50%;
      border: none !important;
      outline: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .content {
    padding: 1rem;
    border: 2px solid #ddd;
    border-top: none;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
    .main-btn {
      font-size: 13px !important;
    }
    .text {
      font-size: 13px;
    }
    .price {
      .small-price {
        font-size: 13px;
      }
    }
    .old-price {
      color: #a3a3a3;
      font-size: 13px;
    }
    .info-user {
      .img-user {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 2px solid $yellow-color;
        overflow: hidden;
        margin: 0 auto;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .name {
        font-size: 13px;
      }
    }
  }
}

.stor-box {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 14%);
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
  background-color: $white-color;
  .main-info {
    @include flex-center;
    margin-bottom: 8px;
    .stor-info {
      margin-top: 35px;
      .img-holder {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -32.5px;
        border: 1px solid $yellow-color;
        border-radius: 50%;
        padding: 4px;
        img {
          @include circle(65px, 65px);
        }
      }
      .text-holder {
        text-align: center;
        .name {
          margin-bottom: 0px;
          font-weight: 600;
          font-size: 17px;
          color: #767676;
        }
      }
    }
  }
  .stor-des {
    color: $light-text;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }
  .more-holder {
    @include flex-center;
    gap: 15px;
    p {
      margin-bottom: 0;
      @include flex-center;
      gap: 5px;
      font-size: 12px;
      i,
      svg {
        font-size: 13px;
        color: $yellow-color;
      }
    }
  }
}

.categories-box {
  border: 1px solid $main-border;
  padding: 15px;
  border-radius: 11px;
  box-shadow: 0 0 5px 0 #00000017;
  .categories-name {
    margin-bottom: 0px;
    a {
      margin-bottom: 15px;
      @include flex-between;
      color: #444;
      font-size: 13px;
      i,
      svg {
        color: $light-text;
        font-size: 12px;
        transition: $sm-transition;
      }
      &[aria-expanded="false"] {
        i,
        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }
  .collapse {
    &:not(:last-child) {
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid $main-border;
    }
    .sections {
      li {
        padding: 5px 5px;
        label {
          color: #444;
          font-size: 13px;
        }
      }
    }
  }
}

.satrs {
  .star {
    color: #ddd;
    &.active {
      color: #ffc107;
    }
  }
}

.notifications-list {
  > li {
    .notification_holder {
      background-color: white;
      font-size: 14px;
      z-index: 1;
      position: relative;
      border-style: none none none;
      border-radius: 2px;
      border-bottom: 1px solid #eee;
      padding: 14px 0;
      .notification_text {
        display: flex;
        gap: 10px;
        align-items: center;
        .icon-alert {
          font-size: 30px;
          color: $alt-color;
        }
        .image_holder {
          width: 70px;
          height: 100%;
          > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .date-notification {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 11px;
          color: #bdbcbc;
          gap: 5px;
        }
        .content {
          color: $mian-text-color;
        }
      }
    }
  }
}

.main-img-box {
  position: relative;
  img {
    @include full-w-h;
    border-radius: 20px;
    &.sp-h {
      object-fit: cover;
      height: 280px;
    }
  }
  .bage {
    position: absolute;
    background-color: $white-color;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 600;
    &.top {
      top: 9%;
      right: -35px;
      border: 1px solid $yellow-color;
    }
    &.bottom {
      left: -35px;
      bottom: 9%;
      border: 1px solid $pink-color;
    }
  }
}

.profile-stor-box {
  position: relative;
  .stor-cover {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    img {
      @include full-w-h;
      object-fit: cover;
      border-radius: 15px;
    }
  }
  .stor-info {
    text-align: center;
    .img-stor {
      position: absolute;
      left: 50%;
      top: 170px;
      transform: translateX(-50%);
      border-radius: 10px;
      img {
        padding: 3px;
        background-color: $white-color;
        width: 60px;
        border-radius: 10px;
      }
    }
    .name {
      margin-top: 35px;
      font-weight: 700;
      font-size: 20px;
      color: #444;
      margin-bottom: 15px;
    }
    .stor-data {
      margin-bottom: 13px;
      @include flex-center;
      gap: 20px;
      .rate {
        margin-bottom: 0;
        font-size: 15px;
        i,
        svg {
          color: #ffdb43;
          font-size: 16px;
        }
        a {
          margin-right: 3px;
          font-size: 12px;
          text-decoration: underline;
        }
      }
      .btns-holder {
        @include flex-center;
        gap: 7px;
        .social-btn {
          background-color: #f7f7f7;
          padding: 7px 8px;
          border-radius: 3px;
          color: #8b8b8b;
          transition: $main-transition;
          &:hover:nth-child(1) {
            background-color: #1da1f2;
            color: $white-color;
          }
          &:hover:nth-child(2) {
            background-color: #fd1d1d;
            color: $white-color;
          }
          &:hover:nth-child(3) {
            background-color: #1877f2;
            color: $white-color;
          }
          &:hover:nth-child(4) {
            background-color: #0077b5;
            color: $white-color;
          }
          &:hover:nth-child(5) {
            background-color: #25d366;
            color: $white-color;
          }
        }
      }
    }
    .des {
      color: #8f8f8f;
      font-size: 14px;
      margin-bottom: 10px;
      text-align: center;
    }
  }
}

.box-subject {
  background-color: $white-color;
  padding: 1rem;
  border-bottom: 1px solid $main-border;
  .title {
    display: block;
    color: $main-color;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 7px;
  }
  .icon-bar {
    @include flex-center;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 6px;
    div {
      @include flex-center;
      justify-content: flex-start;
      gap: 5px;
      i,
      svg {
        color: #777777;
        font-size: 10px;
      }
      span {
        color: #777777;
        font-size: 12px;
      }
    }
  }
  .des {
    color: #4d5257;
    line-height: 21px;
    font-size: 13px;
  }
}

.progress-order {
  .progress-state {
    @include flex-center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 13px;
    line-height: 1.84;
    i,
    svg {
      font-size: 22px;
      color: #e0e0e0;
      &.active {
        color: #314459;
      }
    }
  }
}

.contact {
  padding: 5px 14px !important;
  font-size: 12px !important;
  border-radius: 6px !important;
}

.img-user {
  object-fit: cover;
  @include circle(60px, 60px);
}

.description-text {
  color: #4d5257;
  line-height: 21px;
  font-size: 13px;
}