.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.form-group {
  margin: 20px 0 !important;
}

.row-gap-24 {
  row-gap: 24px;
}

.min-height {
  min-height: 100vh;
}

.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.w-150px {
  width: 150px;
}

.bg-light-color {
  background-color: $light-mian-color;
}

.gray-text {
  color: $gray-text;
}

.text-link {
  color: #0d6efd;
}
.pink-color {
  color: $pink-color;
}

.main-color {
  color: $main-color;
}
.color-222 {
  color: #6a6969;
}
.color-777 {
  color: #777;
}

.border-b {
  border-bottom: 1px solid #e7e5e5;
}
@media print {
  .not-print {
    display: none !important;
  }
}

.won-hr {
  margin-top: 26px;
  margin-bottom: 26px;
  border: 0;
  border-top: 1px solid #aba9a9;
}

.bg-grey {
  background-color: #F5F5F5;
}

.green-color {
  color: #3bc100;
}

.opacity-0_5 {
  opacity: .5;
}

.opacity-1 {
  opacity: 1;
}